html, body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--font-main);
    background: var(--bg-main);
}
:root {
    --font-main: "Noto Sans", sans-serif;
    --bg-main: #131417;
    --bg-card: #1e1f26;
    --bg-stat: #131417;
    --username:#b7bbc8;
}
p, h3 {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}
ul {
    padding-left: 0;
}
ul li {
    list-style-type: none;
}
.card, img {
    border-radius: 10px;
}
.card {
    max-width: 700px;
    background: var(--bg-card);
    margin:auto;
    padding: 1em;
}
.card-thumbnail img {
    max-width: 100%;
    object-fit: auto;
    display: flex;
}
.card-body {
    display: flex;
    margin-top: 1em;
}
.card-avatar img {
    height:  50px;
    width: 50px;
    margin-right: 1em;
}
.card-details  h3{
    font-weight: 900;

}
.card-details p{
    font-size: .85em;
    color:var(--username);
}
.card-stat {
    display:none;

} 
.card:hover{
    padding-bottom: 0;
}  
.card:hover .card-stat {
    display:flex;  
    padding-bottom: .5em; 
     
}
.card-stat li {
    background: var(--bg-stat);
    padding:.25em  .5em;
    margin-right: .5em;
    border-radius: 5px;
}
